nav {
  display: flex;
  padding: 0 10%;
}
.navbar-container {
  position: fixed; 
  z-index: 2;
  display: flex;
  list-style: none;
  background-color: #ffffff;
  width: 100%;
}

.navbar-container__li {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;

  margin-right: 10px;
}
.navbar-container__li::after {
  content: "";
  background-color: #66f2d5;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
.navbar-container__li:hover::after {
  top: 0px;
  left: 0px;
}
.download-container a {
  text-decoration: none;
  text-decoration: underline 6px #FFE54C;
  color: #000000;
}
.download-container a:hover {
  color:#66f2d5;
}
.download-container {
  position: fixed; 
  z-index: 2;
  background-color: #ffffff;
  right: 10%;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  cursor: pointer;
  height: 15px;
  display: flex;
}

